Repository dt418/react-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx nx affected -t lint --uncommitted --fix

format:
  run: npx prettier --write {staged_files}

chore: add .nvmrc file to specify Node.js version 22.13.1
  .nvmrc
Due: none

feat: update Vite configuration to use resolved paths and set module type in package.json
  apps/react-monorepo/vite.config.ts
  package.json
  tsconfig.base.json
Due: lint, format

fix: remove module type from package.json and adjust module resolution in tsconfig
  package.json
  tsconfig.base.json
Due: format

feat: add prepare script to package.json for Lefthook installation
  package.json
Due: format

fix: lefthook working well without prepare script
  package.json
Due: format

chore: make sure that lefthook can excute
  .npmrc
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,yml,yaml,md}
