Repository dt418/react-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx nx affected -t lint --uncommitted --fix

format:
  run: npx prettier --write {staged_files}

ci: update ci.yml
  .github/workflows/ci.yml
Due: format

chore: add example environment file and update .gitignore to include env files
  .env.example
  .gitignore
Due: none

ci: update pnpm install command to include only-built-dependencies
  .github/workflows/ci.yml
Due: format

ci: update CI workflow to use Node.js version matrix and pnpm v4
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: format

fix: fix pnpm-lock.yaml
  pnpm-lock.yaml
Due: format

chore: update documentation for setup instructions
  .github/workflows/ci.yml
Due: format

Update ci.yml
  .github/workflows/ci.yml
Due: format

ci: update CI workflow to enable write permissions and improve step descriptions
  .github/workflows/ci.yml
Due: format

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: format

fix: enable auto-fix option for ESLint in nx.json
  nx.json
Due: format

feat: update nx version
  migrations.json
  package.json
  pnpm-lock.yaml
Due: format

fix: set end_of_line to lf in .editorconfig
  .editorconfig
Due: none

feat: update nx version
  nx.json
Due: format

fix: support for .mts files in ESLint configuration
  eslint.config.cjs
Due: none

feat: add NX_CLOUD_ACCESS_TOKEN to CI workflow environment
  .github/workflows/ci.yml
Due: format

fix: update affected commands in CI workflow to specify base and head
  .github/workflows/ci.yml
Due: format

fix: update CI workflow to use pnpm for affected commands
  .github/workflows/ci.yml
Due: format

fix: remove NX_CLOUD_ACCESS_TOKEN from CI workflow environment
  .github/workflows/ci.yml
Due: format

fix: simplify affected commands in CI workflow
  .github/workflows/ci.yml
Due: format

feat: add Vite configuration for React monorepo and update ESLint rules
  apps/react-monorepo/vite.config.ts
  eslint.config.cjs
Due: lint, format

chore: update Node.js version in CI, adjust module settings, and enhance configuration files
  .github/workflows/ci.yml
  apps/react-monorepo-e2e/playwright.config.ts
  apps/react-monorepo-e2e/tsconfig.json
  apps/react-monorepo/jest.config.ts
  apps/react-monorepo/postcss.config.cjs
  apps/react-monorepo/src/app/app.spec.tsx
  jest.preset.cjs
  package.json
  tsconfig.base.json
Due: lint, format

chore: update Node.js version in CI, adjust module settings, and enhance configuration files
  apps/react-monorepo-e2e/tsconfig.json
Due: format

Revert "chore: update Node.js version in CI, adjust module settings, and enhance configuration files"
  apps/react-monorepo-e2e/tsconfig.json
Due: format

revert: update Node.js version in CI, adjust module settings, and enhance configuration files
  .github/workflows/ci.yml
  apps/react-monorepo-e2e/playwright.config.ts
  apps/react-monorepo-e2e/tsconfig.json
  apps/react-monorepo/jest.config.ts
  apps/react-monorepo/postcss.config.js
  apps/react-monorepo/src/app/app.spec.tsx
  jest.preset.js
  package.json
  tsconfig.base.json
Due: lint, format

test: update regex for greeting title in App component test
  apps/react-monorepo/src/app/app.spec.tsx
Due: lint, format

chore: update pnpm action version in CI workflow to v4
  .github/workflows/ci.yml
Due: format

chore: set pnpm action version to 10.3.0 in CI workflow
  .github/workflows/ci.yml
Due: format

ci: setup ci pnpm 10.3.0
  .github/workflows/ci.yml
Due: format

chore: update pnpm action version to v4 in CI workflow
  .github/workflows/ci.yml
Due: format

chore: add package overrides for cross-spawn, koa, and esbuild versions to fix vulnerabilities
  package.json
  pnpm-lock.yaml
Due: format

fix: fix format pnpm-lock.yaml
  pnpm-lock.yaml
Due: format

chore: update .prettierignore to exclude additional lock files
  .prettierignore
Due: none

chore: update CI workflow to use specific commit SHAs for pnpm and nx-set-shas actions
  .github/workflows/ci.yml
Due: format

chore: update @nx packages to version 20.4.6 in package.json
  package.json
  pnpm-lock.yaml
Due: format

feat: add PostCSS and Vite configuration for React monorepo with Tailwind CSS support
  apps/react-monorepo/postcss.config.cjs
  apps/react-monorepo/tailwind.config.ts
  apps/react-monorepo/vite.config.mts
  eslint.config.cjs
Due: lint, format

feat: add Vite configuration for React monorepo with support for TypeScript paths and asset copying
  apps/react-monorepo/vite.config.ts
Due: lint, format

chore: update CI workflow to use Node.js version 22
  .github/workflows/ci.yml
Due: format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,yml,yaml,md}
